---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="w-[80vw] md:w-[50vw] mt-9 ml-auto mr-auto font-garamond-p-p">
    <h1 class="font-bennet-text-four text-3xl mb-9">Benjamin Bartu</h1>
    <p class="text-2xl">
      Benjamin Bartu is the author of the chapbook Myriad Reflector (Poetry.Onl
      Press). His poetry has been nominated for Best of the Net, and has
      appeared in The Offing, The Journal, The Boiler, Sonora Review, HAD, &
      elsewhere. He has received support from Tin House Workshops, The Hambidge
      Center, and Centrum Residency Programs. He lives in Oakland, California.
    </p>
    <span class="bg-yellow-600 rounded-3xl px-1 -rotate-5  text-xl mr-1">
      More Info:
    </span>
    <a class="underline text-neutral-700 text-xl" href="https://benjaminbartu.com/">
      https://benjaminbartu.com/</a
    >
    <hr class="mt-9 w-[10%] ml-auto mr-auto text-red-600" />
    <h2 class="font-bennet-text-four text-3xl mb-9">Lecture </h2>
    <p>
      <ul class="text-2xl">
        <li>
            Somebody’s Dalmatian Perfects My Grief: On Chimeras, Confessionals, & What Poets Owe Animals
        </li>
        <!-- <li>
          Resources/Material:
          <ul class="p-2 text-xl">
            <li>
              Leyb Goldin description of a single day in the Ghetto <br />
              <a
                href="https://training.ehri-project.eu/source/c04-leyb-goldin-description-single-day-ghetto/"
                class="text-[1.2rem] text-neutral-700 underline"
              >
                https://training.ehri-project.eu/source/c04-leyb-goldin-description-single-day-ghetto/
              </a>
            </li>
            <li class="mt-4">
              Leociak, Jacek. Limit Experiences: A Study of Twentieth-Century
              Forms of Representation. [Berlin: Peter Lang, 2019] Pdf. Retrieved
              from the Library of Congress, www.loc.gov/item/2020719345/.
              <a
                href="https://www.loc.gov/item/2020719345/"
                class="text-[1.2rem] text-neutral-700 underline"
              >
                https://www.loc.gov/item/2020719345/
              </a>
            </li>
          </ul>

          <br />
        </li> -->
      </ul>
    </p>
  </div>
</Layout>
