---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="w-[80vw] md:w-[50vw] mt-9 ml-auto mr-auto font-garamond-p-p">
    <h1 class="font-bennet-text-four text-3xl mb-9">J Andros</h1>
    <p class="text-2xl">
      J Andros (<span class="italic">they/he</span>) writes to find a more freeing form of communication.
      Originally from the Washington, DC metropolitan area, he was exposed early
      to protests, and continues this work from New York City or the San
      Francisco Bay Area. Their writing has been featured on radio shows, in
      short films, in anthologies and journals, and on stages around the world.
      J Andros co-founded the poetry publication Poets Reading the News and has
      taught and studied creative writing at NYU and other institutions. You can
      find more of their work at www.jandros.work or on social media
      @nycdownglo.
    </p>
    <span class="bg-green-400 rounded-3xl px-1 rotate-10 text-xl mr-1">
      More Info:
    </span>
    <a
      class="underline text-neutral-700 text-xl"
      href="www.jandros.work"
    >
    www.jandros.work
    </a>
    <hr class="mt-9 w-[10%] ml-auto mr-auto text-red-600" />
    <h2 class="font-bennet-text-four text-3xl mb-9">Lecture</h2>
    <p>
      <ul class="text-2xl mb-9">
        <li>
            Critically (Writing at School)
        </li>
        <!-- <li>
          Resources/Material:
          <ul class="p-2 text-xl">
            <li>
              Leyb Goldin description of a single day in the Ghetto <br />
              <a
                href="https://training.ehri-project.eu/source/c04-leyb-goldin-description-single-day-ghetto/"
                class="text-[1.2rem] text-neutral-700 underline"
              >
                https://training.ehri-project.eu/source/c04-leyb-goldin-description-single-day-ghetto/
              </a>
            </li>
            <li class="mt-4">
              Leociak, Jacek. Limit Experiences: A Study of Twentieth-Century
              Forms of Representation. [Berlin: Peter Lang, 2019] Pdf. Retrieved
              from the Library of Congress, www.loc.gov/item/2020719345/.
              <a
                href="https://www.loc.gov/item/2020719345/"
                class="text-[1.2rem] text-neutral-700 underline"
              >
                https://www.loc.gov/item/2020719345/
              </a>
            </li>
          </ul>

          <br />
        </li> -->
      </ul>
    </p>
    <br/>
  </div>
</Layout>
