---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="w-[80vw] md:w-[50vw] mt-9 ml-auto mr-auto font-garamond-p-p">
    <h1 class="font-bennet-text-four text-3xl mb-9">Nina Ruth Mir</h1>
    <p class="text-2xl">
      Nina(they/them) is a trans refugee writer from Iran. Their most recent
      project is
      <a
        class="underline text-neutral-700"
        href="https://nina-mir.github.io/taschen-dolmetcher/"
      >
        Taschen-Dolmetcher.Revisited</a
      >, a web-thingy to talk about the stuff on the Soviet side of the Eastern
      Front's horrors inspired by Soviet Jewish writers’ writings. <br />
       Their writings have appeared on 48hills.org, the Left Berlin website, New
      Orleans Review and the Evergreen Review journals. They teach at SF State
      University and do other part-time gigs.
    </p>
    <span class="bg-yellow-400 rounded-3xl px-1 -rotate-3 text-xl">
      More Info:
    </span>
    <a
      class="underline text-neutral-700"
      href="https://nina-mir.github.io/words/"
    >
      https://nina-mir.github.io/words/</a
    >
    <hr class="mt-9 w-[10%] ml-auto mr-auto text-red-600" />
    <h2 class="font-bennet-text-four text-3xl mb-9">Lecture Topics</h2>
    <p>
      <ul class="text-2xl">
        <li>
          <span class="underline"
            >The Mighty Struggle of Talking About Catastrophes</span
          > in a post-truth, post-modern world.
        </li>
        <li>
          Resources/Material:
          <ul class="p-2 text-xl">
            <li>
              Leyb Goldin description of a single day in the Ghetto <br />
              <a
                href="https://training.ehri-project.eu/source/c04-leyb-goldin-description-single-day-ghetto/"
                class="text-[1.2rem] text-neutral-700 underline"
              >
                https://training.ehri-project.eu/source/c04-leyb-goldin-description-single-day-ghetto/
              </a>
            </li>
            <li class="mt-4">
              Leociak, Jacek. Limit Experiences: A Study of Twentieth-Century
              Forms of Representation. [Berlin: Peter Lang, 2019] Pdf. Retrieved
              from the Library of Congress, www.loc.gov/item/2020719345/.
              <a
                href="https://www.loc.gov/item/2020719345/"
                class="text-[1.2rem] text-neutral-700 underline"
              >
                https://www.loc.gov/item/2020719345/
              </a>
            </li>
          </ul>

          <br />
        </li>
      </ul>
    </p>
  </div>
</Layout>
