@import "tailwindcss";

@theme {
  --font-gridlite-pe: "gridlite-pe-variable", sans-serif;
  --font-variation-gridlite-pe: "wght" 664, "BACK" 3, "RECT" 57, "ELSH" 1;
  --font-garamond-p-p: garamond-premier-pro, serif;
  --font-bennet-text-four: bennet-text-four, sans-serif;
}

@custom-variant landscape {
  @media (orientation: landscape) {
    @slot;
  }
}
