<div
  class="flex 
  flex-col
  box-border
bg-red-600
basis-[40%]
 text-yellow-300
 max-w-full
 overflow-x-hidden
 md:flex-row
 md:flex-wrap
 md:items-center
 md:pl-6
  h-full
  gap-4
  font-gridlite-pe
  md:ml-1
  border-l-amber-200
  border-r-0
  border-t-0
  border-b-0
  sm:font-[2rem]
  "
>
  <div class="md:bg-gray-500 md:relative md:-bottom-5">
    <span class="font-bold text-3xl tracking-[0.31rem] ml-5 md:ml-0"> Dec.27</span>
  </div>
  <div class="md:bg-gray-600 md:relative  md:-bottom-7">
    <span class="font-bold text-3xl tracking-[0.31rem] ml-5 md:ml-0"> Dec.28</span>
  </div>
  <div class="md:bg-gray-700 md:relative md:-bottom-5 md:left-6">
    <span class="font-bold text-3xl tracking-[0.31rem] ml-5 md:ml-0"> Dec.29</span>
  </div>
  <div class="md:bg-gray-400 md:relative md:-bottom-5">
    <span class="font-bold text-3xl tracking-[0.31rem] ml-5 md:ml-0"> Dec.30</span>
  </div>
  <div class="">
    <span 
    class="font-bold text-3xl tracking-[0.31rem] ml-5 md:ml-0 m-0"
    >Dec.31</span>
    <span 
    class="font-bold hidden md:inline
    text-3xl tracking-[0.31rem] m-0"
    >—open-mic day!</span>

  </div>
</div>
