<header class="h-[40vh] md:h-[30vh] bg-amber-200 flex flex-col items-center">
  <div class="flex">
    <h1 class="text-[3rem] font-serif">
      <span class="font-gridlite-pe">Free</span>
      <span class="font-garamond-p-p">(THE) POETRY RESIDENCY</span>
    </h1>

    <!-- To-DO -->
    <div class="">" this "</div>
  </div>
  <hr class="w-[30vw] text-blue-600 m-2" />
  <span class="font-serif text-2xl">
    The Long Haul <span class="text-gray-400">|</span> 3124 Shattuck Ave,
    Berkeley, CA
  </span>
  <hr class="w-[30vw] text-red-600 m-2" />
  <span class="font-serif text-2xl tracking-[0.31rem]"> Dec.27—31</span>
  <em>5 days</em>
</header>

<!-- .example {
  font-family: "gridlite-pe-variable",sans-serif;
  font-variation-settings: 'wght' 664, 'BACK' 1, 'RECT' 57, 'ELSH' 1;
} -->
