---
import Banner from "./Banner.astro";
---

<header class="h-fit
overflow-x-hidden
flex flex-col
max-w-full
mb-1
box-border">
  <div class="flex flex-row items-stretch justify-items-stretch w-screen">
    <h1 class="text-[2.3rem] font-serif basis-[60%] p-3">
      <span class="font-gridlite-pe">Free</span>
      <span class="font-garamond-p-p">(THE) POETRY RESIDENCY</span>
    </h1>

    <!-- To-DO -->
    <!-- <div class="border-2 border-yellow-400 basis-[40%]">" this "</div> -->
    <Banner />
  </div>
  <hr class="w-[30vw] text-blue-600 m-2" />
  <span class="font-serif text-2xl">
    The Long Haul <span class="text-gray-400">|</span> 3124 Shattuck Ave,
    Berkeley, CA
  </span>
  <hr class="w-[30vw] text-red-600 m-2" />
  <span class="font-serif text-2xl tracking-[0.31rem]"> Dec.27—31</span>
</header>