<div class="mt-1">
  <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
  <main>
    <section class="font-bennet-text-four">
      <p class="font-normal text-xl p-3 break-normal md:break-all">
        Spend 5 days in community at The Long Haul
        (3124 Shattuck, Berkeley) from December 27-31, 10am-4pm, participating
        in generative writing, craft talks/ poetry lectures, workshops, poem
        dicussions, and a reading & open mic.
      </p>
      <p class="font-normal text-xl p-3 break-normal md:break-all">
        It is free and you should come even if you're 'not a writer' and also we
        will probably have free vegan donuts. Featuring J Andros, Tanya Azari,
        Benjamin Bartu, Jeremiah Hernandez, Nina Ruth Mir, & more. 
	</p>
	<p class="text-xl p-3 break-normal md:break-all font-mono">
		<span class="font-bold">Email Tanya, </span>
		<a class="text-gray-700 underline" href="mailto:azarinotsorry@gmail.com">azarinotsorry@gmail.com</a>, with questions, and/or if you would like to give
        a lecture/ craft talk.
      </p>
    </section>
  </main>
</div>
